<!DOCTYPE html>
<html>
<head>
  <title>Fitpal</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_importmap_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Custom font from Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">

  <!-- Bootstrap CSS -->
<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS for styling -->
  <%= stylesheet_link_tag 'custom', media: 'all', 'data-turbo-track': 'reload' %>

  <!-- Leaflet.js CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
</head>
<body>
  <%= render 'shared/navbar' %>
  <div class="container mt-5">
    <%= yield %>
  </div>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

  <!-- Leaflet.js JS -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

 <% if defined?(@gyms) && @gyms.present? %>
  <%= render 'shared/map_script', gyms: @gyms %>
<% end %>
