<!-- app/views/gyms/index.html.erb -->
<div class="container mt-4">
  <h1 class="mb-4">Featured Gyms</h1>
  <div id="map" style="height: 400px; width: 100%;"></div>
  <% if @gyms.present? %>
    <div class="list-group mt-4">
      <% @gyms.each do |gym| %>
        <div class="list-group-item mb-2">
          <h2 class="h5 mb-1"><%= gym.name %></h2>
          <p class="mb-1"><%= gym.address %></p>
          <% if gym.latitude && gym.longitude %>
            <p class="mb-0">Latitude: <%= gym.latitude %></p>
            <p class="mb-0">Longitude: <%= gym.longitude %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No gyms found.</p>
  <% end %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    mapboxgl.accessToken = '<%= ENV["MAPBOX_ACCESS_TOKEN"] %>';
    const map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11',
      center: [51.25, 25.5], // Initial center [longitude, latitude]
      zoom: 10
    });

    <% @gyms.each do |gym| %>
      <% if gym.latitude && gym.longitude %>
        new mapboxgl.Marker()
          .setLngLat([<%= gym.longitude %>, <%= gym.latitude %>])
          .setPopup(new mapboxgl.Popup().setText("<%= gym.name %>"))
          .addTo(map);
      <% end %>
    <% end %>
  });
</script>
