<!-- app/views/chats/show.html.erb -->
<div class="container mt-5">
  <h1 class="mb-4">Chat with <%= @chat.receiver == current_user ? @chat.sender.email : @chat.receiver.email %></h1>
  <div id="messages" class="mb-4">
    <% @messages.each do |message| %>
      <div class="message">
        <strong><%= message.user.email %>:</strong>
        <%= message.content %>
      </div>
    <% end %>
  </div>

  <%= form_with(model: @message, url: chat_room_messages_path(@chat.chat_room), local: true, id: 'new_message', class: "form-inline") do |form| %>
    <%= form.hidden_field :chat_id, value: @chat.id %>
    <%= form.text_area :content, class: "form-control mr-2", placeholder: "Type your message" %>
    <%= form.submit 'Send', class: "btn btn-primary" %>
  <% end %>
</div>
