<!DOCTYPE html>
<html>
<head>
  <title>Fitpal</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <%= render 'shared/navbar' %>
  <div class="container mt-5">
    <%= yield %>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-pzjw8f+ua7Kw1TIqkQ/7RXfkhBr/ZxE5p1RNk7EM1Jh0pffwKeImL9gBtkK1kxgE" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgpsFMkdxOJDXFpEI3D93s0HgKjBTVUu3c2DqDUeVo9RjRpm19E" crossorigin="anonymous"></script>
</body>
</html>
